.LogoSliderClients {
    text-align: center;
  }
  
  .LogoSliderClients-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .LogoSliderClients-logo {
      animation: LogoSliderClients-logo-spin infinite 20s linear;
    }
  }
  
  .LogoSliderClients-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .LogoSliderClients-link {
    color: #61dafb;
  }
  
  h2{
    color: white;
    text-align: center;
  }
  
  .mainLogoSliderClients-Container{
    margin: 10px;
  }
  
  .mainLogoSliderClients-Container .LogoSliderClients-container{
    padding: 50px 0;
  }
  
  .mainLogoSliderClients-Container .LogoSliderClients-container img{
    height: 90px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
  
  
  
  @keyframes LogoSliderClients-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }