.LogoSlider {
  text-align: center;
}

.LogoSlider-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .LogoSlider-logo {
    animation: LogoSlider-logo-spin infinite 20s linear;
  }
}

.LogoSlider-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.LogoSlider-link {
  color: #61dafb;
}

h2{
  color: white;
  text-align: center;
}

.mainlogoslider-Container{
  margin: 10px;
}

.mainlogoslider-Container .logoslider-container{
  padding: 50px 0;
}

.mainlogoslider-Container .logoslider-container img{
  height: 90px;
 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}



@keyframes LogoSlider-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}